
body {
  background-color: #E0E0E0;

  &.page__home {
	background-image: url(../images/bg-fields.jpg);
	background-size: cover;
	background-attachment: fixed;
  }

}

.__pageCenter {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}

.bgImg {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.intro {
	@extend .bgImg;
	width: 100%;
	min-height: 100vh;
	background-image: url(../images/bg-lake.jpg);

	h2 {
		font-size: 1.8em;
		line-height: 1.3em;
		margin-bottom: 5px;
		color: #2A4955;
	}

	h3 {
		font-size: 1em;
		font-weight: 600;
		max-width: 400px;
		color: #6A767A;
	}

}

.content {
	@extend .clearfix;
}

.content__padded {
	padding: 80px;
}

.content__paddedExtra {
	padding: 120px 80px;
}

.storyRow {
	@extend .bgImg;
	width: 100%;
}

// Heights

.height__medium {
	height: 700px;
}

.height__full {
	height: 100vh;
}

// Text Blocks

.textBlock__default {
	
	h2 {
	    color: #53728E;
		font-size: 1.4em;

		&.darker {
			color: #485961;
		}

	}

}

// Dialog

html {
  overflow-y: scroll;
}

body.state__siteFrozen {
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.state__siteFrozen #siteWrapper {
  position: absolute;
  width: 100%;
}

html.ngdialog-open {
  overflow-y: scroll;
}

body.ngdialog-open {
  padding-right: 0 !important;
}

.ngdialog-content {
  position: relative;
}

.yepDialog-theme-default {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;

  .ngdialog-content {

	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	background: none;
  }

}

.modalConfirmation {

  .modal-header {
	background-color: #0094FF;
	@include border-radius(5px 5px 0 0);
	padding: 15px;
	text-align: center;
	color: #FFFFFF;

	h2 {
	  font-weight: 400;
	}

  }

  .modal-body {
	background-color: #FFF;
	@include border-radius(0 0 5px 5px);
	padding: 30px 15px;
  }

  .message {
	text-align: center;
	font-size: .9em;
	color: #999999;
  }

  .modal-options {
	margin-top: 30px;
	text-align: center;

	.button {
	  margin: 0 2px;
	}

  }

}

.modalMain {
  padding: 30px;
  background-color: #FFFFFF;
  @include border-radius(5px);

  .modal-title {
	color: #666666;
  }

  .modal-body {
	margin-top: 30px;
  }

}

.modalForm {
  
  .formSection {
	padding: 0 15px;
	margin-top: 15px;
	
	&:first-child {
	  margin-top: 0;
	}
	
	&.__separate {
	  padding-top: 30px;
	  margin-top: 30px;
	  border-top: 1px solid #f0f0f0;
	}
	
  }
  
}

.flexInput {
  display: flex;

  label {
	min-width: 60px;
	margin-right: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: right;
  }

  .inputWrapper {
	flex-grow: 1;
  }

  input, textarea {
	width: 100%;
  }

  .button__right {
	margin-left: 5px;
  }

}

.text__faint {
  font-size: .8em;
  font-weight: 600;
  color: #777777;
}

.centeredButtons {
  text-align: center;

  .button {
	margin: 0 2px;
  }

}

.imagePreview {
  width: 100%;
  height: 130px;
  background-color: #F0F0F0;
  @include border-radius(5px);
}

// END Dialog