.homeIntro {
  padding: 0 15px 15px 15px;
  margin: 30px 15px 15px 15px;
  text-align: center;
  //border-bottom: 1px solid #979B8E;

  h1 {
    margin: 10px 0 15px 0;
    @extend .font__fancy;
    font-size: 2.8em;
    //padding: 0 15px;

    a {
      color: #515552;
      text-shadow: 0 1px #CFDED4;

      span {
      }

      &:hover {
        text-decoration: none;
        color: #404441;
      }

    }

  }

  h3 {
    color: #6B6863;
    font-size: .8em;
  }

}

$menu-width: 260px;

.sideMenu {
  //float: left;
  width: 100%;
  margin-bottom: 30px;
  //max-width: $menu-width;
  //background-color: rgba(66, 66, 67, 0.1);
  //border-right: 1px solid rgba(79, 70, 65, 0.07);
  //position: fixed;
  //top: 0;
  //left: 0;
  //bottom: 0;
}

.mainBodyWrapper {
  //padding-left: $menu-width;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.mainBody {
  margin: 15px;
}

.menuUserAccount {
  position: absolute;
  top: 15px;
  right: 15px;

  .user-img {
    position: relative;
    z-index: 3;
  }

}

.userAccountDropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: -20px;
  background-color: #FFFFFF;
  padding: 10px 0;
  z-index: 2;
  width: 120px;
  font-size: .9em;
  @include border-radius(5px);
  @include box-shadow(0 0 1px rgba(0,0,0,0.2));

  .option {
    display: block;
    padding: 10px 20px;

    &:hover {
      background-color: #F0F0F0;
      text-decoration: none;
    }

  }

  .option__profile {

    h4 {
      font-size: .8em;
      font-weight: 400;
    }

  }

}

.menuUserOptions {
  margin: 0 15px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;

  .homeCreateLink {
    width: 100%;
    text-align: center;
  }

}

.menuUserOptions-accounts {
  margin-bottom: 15px;
}

.menuUserDetails {
  margin: 30px 15px;
}

.storyPreviews {
  //flex-direction: column;
  //flex-wrap: wrap;
}

.previewRow {
  display: flex;

  &:nth-child(3n+1) {

    .storyPreviewWrapper {

      &:nth-child(3) {
        flex: 2;
      }

    }

  }

  &:nth-child(3n+2) {

    .storyPreviewWrapper {

      &:nth-child(2) {
        flex: 2;
      }

    }

  }

  &:nth-child(3n+3) {

    .storyPreviewWrapper {

      &:nth-child(1) {
        flex: 2;
      }

    }

  }

}

.storyPreviewWrapper {
  flex: 1;
  padding: 15px;

  &.grid__big {
    flex: 2;
  }

  &.__placeholder {

    .storyPreview-title {
      display: none;
    }

    .storyPreview-img {
      
      &:hover {

        .storyPreview-shade {
          opacity: 0;
        }
        
      }
      
    }

  }

}

.storyPreview {
}

.storyPreview-link {
  
  &:hover {
    text-decoration: none;
  }
  
}

.storyPreview-img {
  @extend .bgImg;
  background-color: rgba(0,0,0,0.1);
  min-height: 350px;
  @include border-radius(5px);
  @include box-shadow(0 2px 3px rgba(0,0,0,0.1));
  padding: 10px;
  position: relative;

  .storyPreview-shade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    @include gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.25));
    @include border-radius(5px);
    @include transition(opacity 200ms);
  }

  &:hover {
    .storyPreview-shade {
      opacity: 1;
    }
  }

}

.storyPreview-title {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0;
  padding: 10px;
  @include gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
  @include border-radius(0 0 5px 5px);

  h3 {
    color: #FFFFFF;
    font-size: 1.1em;
    text-shadow: 0 1px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.1);
    display: inline-block;
    
    &:hover {
      text-decoration: underline;
    }
    
  }

}

.storyPreview-details {
  padding: 8px 6px 0 6px;
}

$user-size: 22px;
$user-size__medium: 32px;
$user-size__large: 44px;
.user {
  color: rgba(255,255,255,0.85);
  display: inline-flex;
  font-family: "Open Sans";
  font-weight: 600;
  text-shadow: 0 1px rgba(0,0,0,0.2);

  &.user__large {
    color: #FFFFFF;

    .user-img {
      width: $user-size__large;
      height: $user-size__large;
      margin-right: 8px;
    }

    span {
      font-size: 1.2em;
      line-height: $user-size__large;
    }

  }
  
  &:hover {
    text-decoration: none;
  }
  
  span {
    font-size: .8em;
    display: inline-block;
    line-height: $user-size;

    &:hover {
      text-decoration: underline;
    }

  }
  
}

$userImg-size: $user-size;
$userImg-size__medium: $user-size__medium;
$userImg-size__large: $user-size__large;
.user-img {
  @extend .bgImg;
  width: $userImg-size;
  height: $userImg-size;
  background-color: rgba(0,0,0,0.1);
  display: inline-block;
  @include border-radius(50%);
  //border: 1px solid #FFFFFF;
  @include box-shadow(0 0 1px rgba(0,0,0,0.1));
  margin-right: 6px;

  &.user-img__medium {
    width: $userImg-size__medium;
    height: $userImg-size__medium;
    margin: 0;
  }

  &.user-img__large {
    width: $userImg-size__large;
    height: $userImg-size__large;
    margin: 0;
  }

}