
@mixin gradient($colour1, $colour2) {
	background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, $colour1),
          color-stop(1, $colour2)
  );
  background-image: -o-linear-gradient(bottom, $colour1 0%, $colour2 100%);
  background-image: -moz-linear-gradient(bottom, $colour1 0%, $colour2 100%);
  background-image: -webkit-linear-gradient(bottom, $colour1 0%, $colour2 100%);
  background-image: -ms-linear-gradient(bottom, $colour1 0%, $colour2 100%);
  background-image: linear-gradient(to bottom, $colour1 0%, $colour2 100%);
}

@mixin border-radius($radius) {
	border-radius: $radius;
}

@mixin box-shadow($shadow, $shadow2:false) {
  $params: $shadow;
  @if $shadow2 
  { $params: $shadow, $shadow2; }
  
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}
@mixin transition-property($property...) {
  -moz-transition-property:    $property;
  -o-transition-property:      $property;
  -webkit-transition-property: $property;
  transition-property:         $property;
}
@mixin transition-duration($duration...) {
  -moz-transition-property:    $duration;
  -o-transition-property:      $duration;
  -webkit-transition-property: $duration;
  transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function:    $timing;
  -o-transition-timing-function:      $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
  -moz-transition-delay:    $delay;
  -o-transition-delay:      $delay;
  -webkit-transition-delay: $delay;
  transition-delay:         $delay;
}

// Magic parallax mixins
@mixin parallax-init(
  $perspective  : $parallax-perspective,
  $element      : $parallax-element,
  $parallax-ios : $parallax-ios
) {
  @if $element == "body" {
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  }
  #{$element} {
    overflow: auto;
    @include perspective($perspective * 1px);
    @include transform-style(preserve-3d);
    // Allows for smooth scrolling but disables parallax effects.
    @if $parallax-ios == false {
      -webkit-overflow-scrolling: touch;
    }
    // Preserve 3D
    &, * {
      @include transform-style(preserve-3d);
    }
  }
}

@mixin parallax(
  $distance    : 0,
  $perspective : $parallax-perspective
) {
  @include transform(
          translateZ($distance * $perspective * 1px)
          scale(abs($distance - 1))
  );
  z-index: $distance * 1000;
}

// End of magic parallax mixins

// Colours

$colourLight: #DBE8F0;
$colourLightBlue: #669BB2;
$colourNiceBlue: #0049CD;

$colourSyntax: #F93459;
$colourSemantic: #0081FF;
$colourDeprecated: #9800FF;
$colourPractice: #FF9115;

$fontStack: Helvetica, Arial, Verdana, sans-serif;