
.show__admin,
.show__owner,
.show__signedOut,
.show__loggedIn,
.show__busy,
.show__editing,
.show__empty,
.show__loading {
	display: none;
}

.state__admin .show__admin,
.state__owner .show__owner,
.state__signedOut .show__signedOut,
.state__loggedIn .show__loggedIn,
.state__busy .show__busy,
.state__editing .show__editing,
.state__empty .show__empty,
.state__loading .show__loading {
	display: block;

	&.__inline {
		display: inline-block;
	}

}

.state__admin .hide__admin,
.state__owner .hide__owner,
.state__signedOut .hide__signedOut,
.state__loggedIn .hide__loggedIn,
.state__busy .hide__busy,
.state__editing .hide__editing,
.state__empty .hide__empty,
.state__loading .hide__loading {
	display: none;
}