$textEditor-zindex: $ui-zindex + 10;

.textEditor-wrapper {}

.textEditor {
	z-index: $textEditor-zindex;
	position: absolute;
	left: 420px;
	top: 80px;
	width: 322px;
	padding: 20px;
	background-color: white;
	@include border-radius(7px);
	@include box-shadow(0 0 1px rgba(0,0,0,0.3), 0 2px 7px 2px rgba(0, 0, 0, 0.13));

	.angular-color-picker {
		width: 100%;
	  margin-top: 10px;
	  border: 1px solid #ECEFF1;
	  background-color: #F0F3F6;
	  @include border-radius(5px);
	}

  	.angular-color-picker > ._hues > ._cursor {
	  left: -3px;
	}

  .angular-color-picker > ._variations {
	transition: none;
  }
  
  .inputSection {
	@extend .clearfix;
	margin-top: 10px;
	
	&:first-of-type {
	  margin-top: 0;
	}
	
	label {
	  display: inline-block;
	  min-width: 70px;
	  margin-right: 10px;
	  padding-top: 6px;
	  margin-bottom: 4px;
	}
	
  }

  .inputWrapper {
	//@extend .fillSpace;
  }

}