<section class="page__home">
    <header class="header__main">
        <div class="__maxSize clearfix">
            <h1><a href="">yep.is</a></h1>
            <div class="header-options">
                <button class="btn btn--create btn__simple __plain">
                    <span>Sign In</span>
                </button>
                <button class="btn btn--create btn__simple">
                    <span>Create Story</span>
                    <span class="icon icon-picture"></span>
                </button>
            </div>
        </div>
    </header>
    <section class="homeBody">
        <article class="featuredStory parallax">
            <a href="">
                <div class="bgWrapper parallax__layer parallax__layer--back">
                    <div class="anotherWrapper">
                        <img class="bg" src="images/boats.jpg" alt="Story Image"/>
                    </div>
                </div>
                <div class="contentWrapper parallax__layer parallax__layer--base">
                    <div class="content">
                        <h2>China Trip 2015</h2>
                    </div>
                    <!--<div class="featuredStory-preview info">-->
                        <!--<a class="title" href="">China Trip 2015</a>-->
                        <!--&lt;!&ndash;<div class="details">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="author">&ndash;&gt;-->
                                <!--&lt;!&ndash;<figure class="thumb"></figure>&ndash;&gt;-->
                                <!--&lt;!&ndash;<a href="">Simon</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                </div>
            </a>
        </article>
        <section class="homeStories">
            <div class="__maxSize">
                <article>
                    STORY PREVIEW
                </article>
                <article>
                    STORY PREVIEW
                </article>
                <article>
                    STORY PREVIEW
                </article>
            </div>
        </section>
    </section>
</section>