<section class="homePage clearfix">
    <section class="sideMenu" ng-controller="MenuCTRL as menu">
        <section class="menuUserAccount show__loggedIn">
            <figure class="user-img user-img__medium __clickable" style="background-image:url(images/simon.jpg);" ng-click="menu.states.userDropdownOpen = !menu.states.userDropdownOpen"></figure>
            <div class="userAccountDropdown" ng-show="menu.states.userDropdownOpen" off-click="menu.states.userDropdownOpen = false" off-click-if="menu.states.userDropdownOpen" ng-click="menu.states.userDropdownOpen = false">
                <ul>
                    <li>
                        <a class="option option__profile" href="">
                            <h3 ng-bind="$root.globals.currentUser.username"></h3>
                            <h4>view profile</h4>
                        </a>
                    </li>
                    <li>
                        <a class="option" ng-click="site.signOut();">
                            Sign Out
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="homeIntro">
            <h1><a href="#/"><span>yep</span>.is</a></h1>
            <h3>Create and share your stories</h3>
        </section>
        <section class="menuUserOptions">
            <div class="menuUserOptions-accounts buttons_half show__signedOut">
                <div class="buttonWrapper">
                    <button class="button__major" ng-click="site.openRegister();">Sign Up</button>
                </div>
                <div class="buttonWrapper">
                    <button class="button__major button__clear" ng-click="site.openSignIn();">Log In</button>
                </div>
            </div>
            <a href="#/create" class="button button__major button__blue button__bigger homeCreateLink">Create a Story</a>
        </section>
    </section>
    <div class="mainBodyWrapper" ui-view="home">
    </div>
</section>