<section class="mainBody" ng-controller="StoriesList as storiesList" ng-class="{ 'state__loading' : storiesList.states.loading }">
    <section class="storyPreviews show__loading">
        <div class="previewRow">
            <div class="storyPreviewWrapper __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper grid__big __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
        </div>
        <div class="previewRow">
            <div class="storyPreviewWrapper __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper grid__big __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
        </div>
        <div class="previewRow">
            <div class="storyPreviewWrapper grid__big __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
        </div>
        <div class="previewRow">
            <div class="storyPreviewWrapper __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper grid__big __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="storyPreviews hide__loading">
        <div class="previewRow">
            <story-preview ng-repeat="story in storiesList.data.data.results"></story-preview>
            <div class="storyPreviewWrapper grid__big">
                <article class="storyPreview">
                    <a class="storyPreview-link" href="">
                        <div class="storyPreview-img" style="background-image:url(images/tummy.jpg);">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3>Name of Story</h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user" href="">
                            <figure class="user-img" style="background-image:url(images/simon.jpg);"></figure>
                            <span>simon</span>
                        </a>
                    </div>
                </article>
            </div>
        </div>
        <div class="previewRow">
            <div class="storyPreviewWrapper">
                <article class="storyPreview">
                    <a class="storyPreview-link" href="">
                        <div class="storyPreview-img" style="background-image:url(images/bg-bbq.jpg);">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3>Name of Story</h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user" href="">
                            <figure class="user-img" style="background-image:url(images/simon.jpg);"></figure>
                            <span>simon</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper grid__big">
                <article class="storyPreview">
                    <a class="storyPreview-link" href="">
                        <div class="storyPreview-img" style="background-image:url(images/tummy.jpg);">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3>Name of Story</h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user" href="">
                            <figure class="user-img" style="background-image:url(images/simon.jpg);"></figure>
                            <span>simon</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper">
                <article class="storyPreview">
                    <a class="storyPreview-link" href="">
                        <div class="storyPreview-img" style="background-image:url(images/boats.jpg);">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3>Name of Story</h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user" href="">
                            <figure class="user-img" style="background-image:url(images/simon.jpg);"></figure>
                            <span>simon</span>
                        </a>
                    </div>
                </article>
            </div>
        </div>
        <div class="previewRow">
            <div class="storyPreviewWrapper grid__big">
                <article class="storyPreview">
                    <a class="storyPreview-link" href="">
                        <div class="storyPreview-img" style="background-image:url(images/bg-usha.jpg);">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3>Name of Story</h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user" href="">
                            <figure class="user-img" style="background-image:url(images/simon.jpg);"></figure>
                            <span>simon</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper">
                <article class="storyPreview">
                    <a class="storyPreview-link" href="">
                        <div class="storyPreview-img" style="background-image:url(images/bg-fields.jpg);">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3>Name of Story</h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user" href="">
                            <figure class="user-img" style="background-image:url(images/simon.jpg);"></figure>
                            <span>simon</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper">
                <article class="storyPreview">
                    <a class="storyPreview-link" href="">
                        <div class="storyPreview-img" style="background-image:url(images/simon.jpg);">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3>Name of Story</h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user" href="">
                            <figure class="user-img" style="background-image:url(images/simon.jpg);"></figure>
                            <span>simon</span>
                        </a>
                    </div>
                </article>
            </div>
        </div>
        <div class="previewRow">
            <div class="storyPreviewWrapper">
                <article class="storyPreview">
                    <a class="storyPreview-link" href="">
                        <div class="storyPreview-img" style="background-image:url(images/street_2.jpg);">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3>Name of Story</h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user" href="">
                            <figure class="user-img" style="background-image:url(images/simon.jpg);"></figure>
                            <span>simon</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper">
                <article class="storyPreview">
                    <a class="storyPreview-link" href="">
                        <div class="storyPreview-img" style="background-image:url(images/bg-glasses.jpg);">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3>Name of Story</h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user" href="">
                            <figure class="user-img" style="background-image:url(images/simon.jpg);"></figure>
                            <span>simon</span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper grid__big">
                <article class="storyPreview">
                    <a class="storyPreview-link" href="">
                        <div class="storyPreview-img" style="background-image:url(images/misaki.jpg);">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3>Name of Story</h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user" href="">
                            <figure class="user-img" style="background-image:url(images/simon.jpg);"></figure>
                            <span>simon</span>
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </section>
</section>
