<section class="page__home" ng-class="{ 'state__loading' : home.states.loading }">
    <section class="homeBody">
        <article class="featuredStory parallax">
            <a href="#/s/L31AK/india-2015">
                <div class="bgWrapper parallax__layer parallax__layer--back bgImg"
                     style="background-image:url(http://i.imgur.com/bFkcFM2.jpg);">
                    <div class="anotherWrapper">
                        <!--<img class="bg" src="images/boats.jpg" alt="Story Image"/>-->
                    </div>
                </div>
                <div class="contentWrapper parallax__layer parallax__layer--base">
                    <div class="content">
                        <h2>India 2015</h2>
                    </div>
                </div>
            </a>
        </article>
        <section class="homeStories">
            <div class="__maxSize">
                <ul class="list__threeCol show__loading">
                    <li>
                        <story-preview class="state__placeholder"></story-preview>
                    </li>
                    <li>
                        <story-preview class="state__placeholder"></story-preview>
                    </li>
                    <li>
                        <story-preview class="state__placeholder"></story-preview>
                    </li>
                    <li>
                        <story-preview class="state__placeholder"></story-preview>
                    </li>
                    <li>
                        <story-preview class="state__placeholder"></story-preview>
                    </li>
                    <li>
                        <story-preview class="state__placeholder"></story-preview>
                    </li>
                    <li>
                        <story-preview class="state__placeholder"></story-preview>
                    </li>
                    <li>
                        <story-preview class="state__placeholder"></story-preview>
                    </li>
                    <li>
                        <story-preview class="state__placeholder"></story-preview>
                    </li>
                </ul>
                <ul class="list__threeCol hide__loading">
                    <li ng-repeat="story in home.data.stories">
                        <story-preview></story-preview>
                    </li>
                </ul>
            </div>
        </section>
    </section>
</section>