<section class="mainBody" ng-controller="StoriesList as storiesList" ng-class="{ 'state__loading' : storiesList.states.loading }">
    <section class="storyPreviews show__loading">
        <div class="previewRow">
            <div class="storyPreviewWrapper __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper grid__big __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
        </div>
        <div class="previewRow">
            <div class="storyPreviewWrapper __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper grid__big __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
        </div>
        <div class="previewRow">
            <div class="storyPreviewWrapper grid__big __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
        </div>
        <div class="previewRow">
            <div class="storyPreviewWrapper __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
            <div class="storyPreviewWrapper grid__big __placeholder">
                <article class="storyPreview">
                    <a class="storyPreview-link">
                        <div class="storyPreview-img">
                            <div class="storyPreview-shade"></div>
                            <div class="storyPreview-title">
                                <h3></h3>
                            </div>
                        </div>
                    </a>
                    <div class="storyPreview-details">
                        <a class="user">
                            <figure class="user-img"></figure>
                            <span></span>
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="storyPreviews hide__loading">
        <div class="previewRow" ng-repeat="row in ::storiesList.dataRows">
            <story-preview ng-repeat="story in ::row"></story-preview>
        </div>
    </section>
</section>
