<div data-ng-controller="Story as story" ng-class="{ 'state__editing' : story.editing }">
    <div id="globalEditControls" class="globalEditControls">
        <span ng-click="story.toggleEditing()">Toggle Edit</span> | <span ng-click="site.logIn();">Log In</span>
    </div>
    <div class="textEditor-wrapper show__editing">
        <text-editor drag-me="" drag-options="{{story.editorOptions}}"></text-editor>
        <!--<text-menu></text-menu>-->
    </div>
    <div class="storyPage-wrapper" data-ng-repeat="storyPage in story.data.pages track by storyPage.id" data-ng-include="'partials/_storyPage.html'">
    </div>
</div>