<div class="textEditor" ng-controller="TextEditor as textEditor" off-click="textEditor.hide();" off-click-if="textEditor.states.open" off-click-filter="'.storyUi-button'"> <!--  drag-me="" add .show__editing -->
	<button class="button button__close icon icon-cancel" ng-click="textEditor.hide();"></button>
	<section class="inputSection">
		<label class="label__plain">Colour</label>
		<div class="inputWrapper">
			<input type="text" class="input__plain" ng-model="textEditor.data.color" readonly/>
		</div>
		<color-picker ng-model="textEditor.data.color"></color-picker>
	</section>
	<section class="inputSection" ng-class="{ 'state__dropdown' : textEditor.states.dropdown_fontSize }">
		<label class="label__plain" for="textEditor-fontSize">Font-size</label>
		<div class="input__dropdown inputWrapper">
			<input class="input__plain" id="textEditor-fontSize" type="text"
				   ng-model="textEditor.data.fontSize" readonly
				   ng-click="textEditor.toggleDropdownFont();" />
			<span class="icon icon-down-dir" ng-click="textEditor.toggleDropdownFont();"></span>
			<ul class="dropdown dropdown__input">
				<li ng-repeat="option in textEditor.options.fontSize" ng-click="textEditor.selectOption(option,
				'fontSize', 'dropdown_fontSize')">
					{{ ::option }}
				</li>
			</ul>
		</div>
	</section>
	<section class="inputSection" ng-class="{ 'state__dropdown' : textEditor.states.dropdown_textAlign }"> <!-- state__dropdown -->
		<label class="label__plain" for="textEditor-alignment">Text-align</label>
		<div class="input__dropdown inputWrapper">
			<input class="input__plain" id="textEditor-alignment" type="text"
				   ng-model="textEditor.data.textAlign" readonly
				   ng-click="textEditor.toggleDropdownAlign();" />
			<span class="icon icon-down-dir" ng-click="textEditor.toggleDropdownAlign();"></span>
			<ul class="dropdown dropdown__input">
				<li ng-repeat="option in textEditor.options.textAlign" ng-click="textEditor.selectOption(option,
				'textAlign', 'dropdown_textAlign')">
					{{ ::option }}
				</li>
			</ul>
		</div>
	</section>
</div>