<article class="story-page"
         ng-class="{ 'state__deleted' : pageVM.page.deleted,
         'state__updating' : pageVM.states.updating }">
    <page-options ng-if="::story.states.owner" class="show__editing"></page-options>
    <div class="story-page-img" back-img="{{pageVM.page.background_image_urls[0].original}}">
        <div class="story-page-width"
             config="pageVM.widthConfig"
             owner="story.states.owner"
             editing="story.states.editing"
             page-width="pageVM.page.measurements_prepped.container_width">
            <div class="page__width__slider __left"></div>
            <div class="page__width__slider __right"></div>
            <div class="story-page-container"
                 page-offsets
                 config="pageVM.offsetsConfig"
                 owner="story.states.owner"
                 editing="story.states.editing"
                 page-vertical="pageVM.page.measurements_prepped.vertical_offset"
                 page-horizontal="pageVM.page.measurements_prepped.horizontal_offset">
                <story-text
                        measurements="pageVM.page.measurements_prepped"
                        config="pageVM.textConfig"
                        owner="story.states.owner"
                        editing="story.states.editing"
                        vertical="pageVM.page.measurements_prepped.text_vertical"
                        horizontal="pageVM.page.measurements_prepped.text_horizontal"
                        elements="pageVM.page.elements_prepped"
                        pending="pageVM.pendingChanges"
                        edit-element="story.editElement">
                </story-text>
            </div>
        </div>
    </div>
    <div ng-if="::story.states.owner" class="story-page-bottom">
        <button ng-click="story.addPage($index);" class="button button--round __hover--cool">
            <span class="icon icon-plus"></span>
        </button>
    </div>
</article>