<article class="story"
         ng-class="{ 'state__loading' : story.states.loading,
         'state__owner' : story.states.owner,
         'state__editing' : story.states.editing,
         'state__emptyStory' : !story.states.loading && story.data.story.pages.length == 0,
         'state__deleted' : story.states.deleted }">
    <story-menu
            ng-show="!story.states.loading && story.states.owner && !story.states.deleted"></story-menu>
    <text-editor ng-if="story.states.textEditorOpen"
                 drag-me=""
                 drag-options="{{story.editorOptions}}"
                 visible="story.states.textEditorOpen"
                 offset="story.editingOffset"
                 pending="story.editingPagePending"
                 editing-element="story.editingElement"></text-editor>
    <section class="show__loading">
        <div class="flex__wrapper __positionAbsolute">
            <ul class="loadingDots">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>
    <div class="story__pages">
        <story-page ng-controller="StoryPageCTRL as pageVM"
                    ng-repeat="page in story.data.story.pages"></story-page>
    </div>
    <section class="story__empty show__deleted">
        <div class="__maxSize">
            <h3>This story has been deleted</h3>
        </div>
    </section>
    <section class="story__empty show__emptyStory">
        <div class="__maxSize show__owner align__center">
            <h3>Add a Page</h3>
            <button ng-click="story.addPage(0);" class="button button--round __hover--cool">
                <span class="icon icon-plus"></span>
            </button>
        </div>
        <div class="__maxSize hide__owner">
            <h3>This story is empty</h3>
            <h4>The owner hasn't added any content yet.</h4>
        </div>
    </section>
    <footer class="story__footer hide__loading">
        <div class="__maxSize">
            <h4>
                <a href="#/">yep.is</a>
            </h4>
        </div>
    </footer>
</article>