a.button {

  &:hover {
    text-decoration: none;
  }

}

.button--animGrow {
  @include transition(transform 200ms ease-out);

  &:hover {
    transform: scale(1.2);
  }

}

.button__activeAnim {
  //position: relative;
  //top: 0;
  @include transition(transform 200ms, top 200ms);

  &:active {
    //top: 2px;
    transform: translateY(2px);
  }
}

.button__reset {
	background: none;
	border: 0;
	cursor: pointer;
	padding: 0;

	&:focus {
		outline: none;
	}

}

.button__full {
  width: 100%;
}

.button__focus {
  &:focus {
    @include box-shadow(0 0 0px 2px #02A3FF);
  }
}

.button__close {
  @extend .button__reset;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: 0;
  font-weight: bold;
  padding: 4px 2px;
  font-size: .8em;
  color: #CCC;

  &:hover {
	color: #888;
  }

  &:active {
	color: #555;
  }

}

.button__plain {
  @extend .button__reset;
  background-color: #FFF;
  @include gradient(#FFF, #f5f5f5);
  border: 1px solid #D0D0D0;
  padding: 5px 7px;
  color: #666;
  @include border-radius(4px);

  &:hover {
    border-color: #C0C0C0;
    color: #333;
  }

  &:active {
    @include gradient(#F5F5F5, #F5F5F5)
  }

  &.state__selected {
    @include gradient(#D3D3D3, #DDD);
    color: #333;
  }

}

.button__round {
  @extend .button__reset;
  display: block;
  background-color: #FFF;
  width: 28px;
  height: 28px;
  color: #FF5F19;
  @include border-radius(50%);
  @include box-shadow(0 0 4px 1px rgba(0, 0, 0, 0.13));
  z-index: 100;
}

.button__primary {
  @extend .button__reset;
  @extend .button__activeAnim;
  background-color: #FF5F19;
  border: 1px solid #FF5F19;
  color: #FFFFFF;
  padding: 8px 14px;
  @include border-radius(4px);
  font-weight: bold;

  &.button__bigger {
    padding: 12px 22px;
    font-size: 1.2em;
  }

  &.state__invalid {
    cursor: default;
    background-color: #FFA076;
    border-color: #FFA076;
    
    &.button__invalidClear {
      background: none;
      color: rgba(0,0,0,0.5);
      border-color: rgba(0,0,0,0.5);
    }
    
  }

  &.button__cancel {
    border-color: #F0F0F0;
    color: #666;
    background-color: #F6F6F6;

    &:hover {
      color: #444444;
      border-color: #e5e5e5;
    }

  }

}

.button__upload {
  @extend .button__reset;
  width: 100%;
  background-color: #0094FF;
  color: #FFFFFF;
  padding: 12px;
  @include border-radius(5px);
  font-size: .9em;
  font-weight: bold;

  .icon {
    font-size: 1.1em;
  }

}

.button__inputAction {
  @extend .button__reset;
  background-color: #0094FF;
  padding: 0 5px;
  border-radius: 3px;
  color: #FFF;
  text-shadow: 0 1px #005695;
}

.button__major {
  @extend .button__reset;
  @extend .font__heading;
  @extend .button__activeAnim;
  display: inline-block;
  font-weight: bold;
  background-color: rgba(236, 0, 69, 0.4);
  color: #FFF;
  text-shadow: 0 1px #AD2144;
  padding: 8px 12px;
  font-size: 1em;
  @include border-radius(5px);
  @include transition(background-color 200ms, transform 200ms);

  &:hover {
    background-color: rgba(236, 0, 69, 0.55);
  }

  &.button__clear {
    color: #495E5E;
    background-color: rgba(61, 77, 81, 0.08);
    text-shadow: none;

    &:hover {
      color: #1B2828;
      background-color: rgba(61, 77, 81, 0.16);
    }

  }

  &.button__bigger {
    padding: 16px 16px;
    font-size: 1.2em;
  }

  &.button__blue {
    background-color: rgba(0, 120, 236, 0.4);
    text-shadow: 0 1px #275C88;

    &:hover {
      background-color: rgba(0, 120, 236, 0.55);
    }

    &.state__busy {
      background-color: rgba(0, 120, 236, 0.55);
      cursor: default;
    }

  }

  &.state__invalid {
    background-color: rgba(0, 120, 236, 0.2);
    cursor: default;

    &:hover {
      background-color: rgba(0, 120, 236, 0.2);
    }

    &:active {
      top: 0;
    }

  }

}

.buttons_half {
  @extend .clearfix;

  .buttonWrapper {
    float: left;
    width: 50%;

    &:first-child {
      padding-right: 7px;
    }

    &:last-child {
      padding-left: 7px;
    }

  }

  button {
    display: block;
    width: 100%;
  }

}

.button__smooth {
  @extend .button__reset;
  @extend .font__heading;
  background-color: #EEF0F3;
  border: 1px solid #E3E5E8;
  font-weight: 600;
  font-size: .8em;
  padding: 5px;
  color: #BED0C7;
  @include border-radius(3px);

  &:hover {
    //color: #8EA79A;
    border-color: #BED0C7;
  }

  &.button__vibrant {
    background-color: #2ABBFD;
    border-color: #2ABBFD;
    color: #FFFFFF;

    &:hover {
      border-color: #1898D2;
    }

    &.__orange {
      background-color: #FD2A5D;
      border-color: #E61222;

      &:hover {
        border-color: #C50D1A;
      }

    }

  }

}

.btn__simple {
  @extend .button__reset;
  @extend .font__heading;
  font-weight: 600;
  background-color: #03D6AC;
  color: #FFFFFF;
  padding: 10px 20px;
  @include border-radius(20px);

  &:hover {
  }

  &:active {
    @include gradient(#03C19B, #03D6AC);
  }

  &.__plain {
    background-color: #FFFFFF;
    color: #A0A0A0;
    @include box-shadow(inset 0 0 1px rgba(0, 0, 0, 0.17));

    &:active {
      @include gradient(#FAFAFA, #FFFFFF);
    }

  }
  
  &.__noOutline {
    padding-left: 0;
    padding-right: 0;
    @include box-shadow(none);
    
    &:hover {
      text-decoration: underline;
    }
    
  }

  &.state__disabled {
    background-color: #F0F0F0;
    color: #A9A9A9;
    cursor: default;

    &:active {
      @include gradient(#F0F0F0, #F0F0F0);
    }

  }

}

.button--fullAction {
  @extend .button__reset;
  width: 100%;
  background-color: $colour--action;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 600;
  padding: 20px;

  &:active {
    @include gradient(darken($colour--action, 2%), $colour--action);
  }

  .loader {
    position: relative;
    top: 2px;
    margin-left: 2px;
  }

}

.button--medium {
  @extend .button__reset;
  @extend .button__activeAnim;
  font-weight: 600;
  color: #FFF;
  background-color: $colour--action;
  padding: 10px 16px;
  border-radius: 20px;
}

.button--large {
  @extend .button--medium;
  font-size: 1em;
}

.button--round {
  @extend .button__reset;
  @extend .button--animGrow;
  background-color: #FFFFFF;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  color: $colour--medium;
  @include border-radius(50%);
}

.button--listed {
  @extend .button__reset;
  width: 100%;
  padding: 10px 5px;
  font-weight: 600;
  color: $colour--light;

  .icon {
    font-size: 1.1em;
  }

  &:hover {
    color: $colour--dark;
  }

}