
.siteTransIndi {
  $siteTransIndi-width: 100px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 50%;
  width: 100px;
  background-color: white;
  margin-left: - $siteTransIndi-width / 2;
  text-align: center;
  padding: 5px;
  @include border-radius(0 0 5px 5px);

  .text {
    display: inline-block;
    font-size: .8em;
    font-weight: bold;
    color: #ACD3DA;
  }

  .loader {
    margin-bottom: -3px;
    margin-right: 3px;
  }

}

.loader {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}

.loader--miniBlue {
  width: 15px;
  height: 15px;
  background-image: url(../images/loader-blue-15.GIF);
}

.loader__pale {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../images/loader-pale-18.GIF);
}

$blue: #40B0FF;
$dotSize: 16px;
$circleSize: 120px;

.flex__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.__positionAbsolute {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

}

.loadingDots {
  width: $circleSize;
  height: $circleSize;
  background-color: #FFFFFF;
  @include border-radius(100%);
  text-align: center;
  line-height: $circleSize;

  li {
    width: $dotSize;
    height: $dotSize;
    display: inline-block;
    background-color: $blue;
    border: 2px solid $blue;
    transform: transformZ(0);
    animation: LOADING 2s infinite;
    @include border-radius(100%);
    margin: 0 5px;

    &:nth-child(1n) {
      animation-delay: 0s;
    }
    &:nth-child(2n) {
      animation-delay: 0.2s;
    }
    &:nth-child(3n) {
      animation-delay: 0.4s;
    }

  }

}

@keyframes  LOADING {
  0%   {
    transform: scale(0.5);
    background: $blue;
  }
  50%   {
    transform: scale(1);
    background: rgba(0,0,0,0);
  }
  100% {
    transform: scale(0.5);
    background: $blue;
  }
}