$states-list: placeholder deleted stateChanging admin owner signedOut signedIn busy editing empty loading;

%state-show {
  display: none;
}

%state-active {
  display: block;

  &.__inline {
	display: inline-block;
  }

  &.__tbody {
	display: table-row-group;
  }

  &.__flex {
    display: flex;
  }

}

%state-hide {
  display: none;
}

@each $current-state in $states-list {

  .show__#{$current-state} {
	@extend %state-show;
  }

  .state__#{$current-state} .show__#{$current-state} {
	@extend %state-active;
  }

  .state__#{$current-state} .hide__#{$current-state} {
	@extend %state-hide;
  }

}