$states-list: error placeholder deleted stateChanging admin
              owner signedOut signedIn busy editing empty
              loading;

%state-show {
  display: none !important;
}

%state-active {
  display: block !important;

  &.__inline {
	display: inline-block !important;
  }

  &.__tbody {
	display: table-row-group !important;
  }

  &.__flex {
    display: flex !important;
  }

}

%state-hide {
  display: none !important;
}

@each $current-state in $states-list {

  .show__#{$current-state} {
	@extend %state-show;
  }

  .state__#{$current-state} .show__#{$current-state} {
	@extend %state-active;
  }

  .state__#{$current-state} .hide__#{$current-state} {
	@extend %state-hide;
  }

}