.header__main {
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
  //position: fixed;
  position: relative;
  z-index: 100;
  @include box-shadow(0 0px 2px rgba(0, 0, 0, 0.15));

  h1 {
    @extend .font__heading;
    font-size: 1.2em;
    float: left;
    color: #AAAAAA;

    a {
      color: inherit;
      line-height: 60px;

      &:hover {
        text-decoration: none;
        color: #03D6AC;
      }

    }

  }

}

.header-options {
  @extend .clearfix;
  float: right;

  .btn {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    display: inline-block;
  }

}

.header__userOptions {
  float: left;
  margin-top: 10px;
  margin-left: 10px;

  .user__thumb {
    @include transition(transform 200ms ease-out);

    &:hover {
      transform: scale(1.2);
    }

  }

}

.user__thumb {
  @extend .bgImg;
  width: 38px;
  height: 38px;
  @include border-radius(50%);

}