.story-page {
  height: 100vh;
  width: 100%;
  position: relative;

  &.state__deleted {
    display: none;
  }

  &.state__loading {

    .story-page-img {
      opacity: 0;
    }

  }

}

.story-page-img {
  @extend .bgImg;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  @include transition(opacity 300ms linear);

}

&.state__editing {

  .story-page-width {
    position: relative;
    outline: rgba(1, 46, 82, 0.48) solid 3000px;
  }

  .page__width__slider {
    display: block;
  }

}

.story-page-width {
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.page__width__slider {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 1px;
  background-color: #FFF;
  @include box-shadow(0 0 0 1px rgba(0, 0, 0, 0.25));
  z-index: 2;

  &.__right {
    left: auto;
    right: 0;
  }

}

.story-page-container {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 10px;
  right: 10px;
}

&.state__editing {

  .story-page-container {
    outline: #FFF dotted 2px;
    @include box-shadow(0 0 0 3000px rgba(1, 46, 82, 0.35));
  }

}

.state__editing {

  .story-page-text {
    outline: #FFF dotted 2px;
    @include box-shadow(0 0 0 4px rgba(0, 0, 0, 0.25));
  }

}

.story-page-text {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  width: 200px;
  height: 400px;

  $positionButton-offset: 32px + 4px;

  &.posVertical__top {
    top: 0;
    bottom: auto;

    .direction__button {

      &.direction__left {
        bottom: 0 - $positionButton-offset;
      }

      &.direction__right {
        bottom: 0 - $positionButton-offset;
      }

      &.direction__up {
        display: none;
      }

      &.direction__down {
        bottom: 0 - $positionButton-offset;
      }

    }

  }

  &.posVertical__bottom {
    bottom: 0;
    top: auto;

    .direction__button {

      &.direction__left {
        top: 0 - $positionButton-offset;
      }

      &.direction__right {
        top: 0 - $positionButton-offset;
      }

      &.direction__up {
        top: 0 - $positionButton-offset;
      }

      &.direction__down {
        display: none;
      }

    }

  }

  &.posHorizontal__left {
    left: 0;
    right: auto;

    .direction__button {

      &.direction__left {
        display: none;
      }

      &.direction__right {
      }

      &.direction__up {
      }

      &.direction__down {
      }

    }

  }

  &.posHorizontal__right {
    right: 0;
    left: auto;

    .direction__button {

      &.direction__left {
        left: 0;
      }

      &.direction__right {
        display: none;
      }

      &.direction__up {
        right: 0;
      }

      &.direction__down {
        right: 0;
      }

    }

  }

}

.state__editing {

  .story__element {

    p {

      &:focus {
        outline: solid $colour--action 1px;
      }

    }

  }

}

.story__element {
  margin: 10px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

}

.story-page-bottom {
  position: absolute;
  bottom: -16px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 50;
}

.page__text__positionControls {

  .direction__button {
    position: absolute;

    &.direction__left {
      left: 0;
    }

    &.direction__right {
      right: 0;
    }

    &.direction__up {
      top: 0;
    }

    &.direction__down {
      bottom: 0;
    }

  }

}