.story-page {
  height: 100vh;
  width: 100%;

  &.state__deleted {
    display: none;
  }

  &.state__loading {

    .story-page-img {
      opacity: 0;
    }

  }

}

.story-page-img {
  @extend .bgImg;
  width: 100%;
  height: 100%;
  opacity: 1;
  @include transition(opacity 300ms linear);

}

.story-page-width {
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.story-page-container {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 10px;
  right: 10px;
}

.story-page-text {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 200px;
  max-height: 400px;

  &.posVertical__top {
    top: 0;
    bottom: auto;
  }

  &.posVertical__bottom {
    bottom: 0;
    top: auto;
  }

  &.posHorizontal__left {
    left: 0;
    right: auto;
  }

  &.posHorizontal__right {
    right: 0;
    left: auto;
  }

}