input,
textarea {
  @extend .font--default;
  font-size: 1em;

  &:focus {
    outline: none;
  }

}

.form__section {

  margin: 15px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

}